{% extends 'base.html.twig' %}

{% block title %}
    {% if book.id %}
        Modifier {{ book.title }}
    {% else %}
        Nouveau livre
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h1>
                            {% if book.id %}
                                Modifier {{ book.title }}
                            {% else %}
                                Nouveau livre
                            {% endif %}
                        </h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.title) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.author) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.category) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.language) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.quantity) }}
                                </div>
                            </div>

                            {{ form_row(form.theme) }}

                            <div class="form-group mt-4">
                                <button type="submit" class="btn btn-primary">
                                    {% if book.id %}
                                        Mettre à jour
                                    {% else %}
                                        Créer
                                    {% endif %}
                                </button>
                                <a href="{{ path('app_book_index') }}" class="btn btn-secondary">Annuler</a>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 