{% extends 'base.html.twig' %}

{% block title %}
    {% if edit_mode %}
        Modifier l'utilisateur - {{ parent() }}
    {% else %}
        Nouvel utilisateur - {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">
            {% if edit_mode %}
                Modifier l'utilisateur
            {% else %}
                Nouvel utilisateur
            {% endif %}
        </h1>

        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.email, {'attr': {'type': 'email', 'required': true}}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.plainPassword, {'attr': {'minlength': 8, 'required': true}}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.firstName) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.lastName) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.roles) }}
                        </div>
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Enregistrer
                        </button>
                        <a href="{{ path('app_user_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour
                        </a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %} 
